#container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-color:black;
  background-position: center center;
  background-repeat: no-repeat;
  color: whitesmoke;
  width: 100%; /* Adjust as needed */

}



.animated-step {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  max-width: 600px; /* Adjust max-width as needed */
  margin: 20px auto;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.image-container, .text-container {
  flex: 1;
  text-align: center;
}

.image-container img {
max-width:max-content;  
  height: 300px;
  animation: slideInLeft 0.5s ease-in-out forwards 6s;

}
.animated-step.slide-in {
  opacity: 1;
}


.text-container {
  opacity: 0;
  width: 300px;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

.animated-step.slide-in .text-container {
  opacity: 1;
  transform: translateX(0);
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}